@page "/register"
@inject ICatchService CatchService

<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 330px">

    <h2>Register a catch</h2>
  
    <CatchLoggerDemo.Core.Components.RegisterForm />


</RadzenCard>