@inherits LayoutComponentBase
<PageTitle>Catch Logger</PageTitle>
<RadzenLayout>
    <RadzenHeader>
        <RadzenMenu>
            <RadzenMenuItem Path="/" Text="Start" Icon="home" />
            <RadzenMenuItem Path="/register" Text="Register catch" Icon="add" />
            <RadzenMenuItem Text="Register session" Icon="more_time" />
            <RadzenMenuItem Text="Records" Icon="diamond" />

        </RadzenMenu>
    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>


























